.primary {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-main);
    background: linear-gradient(45deg, var(--accent-purple), var(--accent-blue));
    border: none;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(138, 43, 226, 0.4);
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    font-family: var(--text-inter);
    text-align: center;
}

.primary:hover {
    box-shadow: 0 10px 40px rgba(138, 43, 226, 0.6);
    background: linear-gradient(135deg, var(--accent-purple), var(--accent-blue));
}

.secondary {
    padding: 0.8rem 2rem;
    background: transparent;
    color: var(--accent-blue);
    border: 2px solid var(--accent-blue);
    cursor: pointer;
    font-weight: bold;
    font-family: var(--text-inter);
    transition: all 0.3s;
    text-decoration: none;
    display: inline-block;
}

.secondary:hover {
    background: var(--accent-blue);
    color: var(--text-main);
    box-shadow: 0 10px 20px rgba(76, 201, 240, 0.3);
}

.primary, .secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}